Source: ros-indigo-libqt-core
Section: misc
Priority: extra
Maintainer: Matthew Bries <mbries@swri.org>
Build-Depends: debhelper (>= 9.0.0), libqt4-dbus, libqt4-network, libqt4-script, libqt4-test, libqt4-xml, libqtcore4, ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-libqt-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-dbus, libqt4-network, libqt4-script, libqt4-test, libqt4-xml, libqtcore4
Description: libqt-core metapackage supporting qt4 and qt5
