Source: ros-lunar-libqt-gui
Section: misc
Priority: extra
Maintainer: Matthew Bries <mbries@swri.org>
Build-Depends: debhelper (>= 9.0.0), libqt5gui5, ros-lunar-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-libqt-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5gui5
Description: libqt-gui metapackage supporting qt4 and qt5
